# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# ❌ Bỏ toàn bộ file python (nếu không muốn push)
*.py

# =========================
# Virtual Environment
# =========================
venv/
env/
ENV/
.venv/

# =========================
# VS Code / IDE
# =========================
.vscode/
.idea/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
*.log

# =========================
# Build / Output
# =========================
dist/
build/

# =========================
# Env file (quan trọng)
# =========================
.env
