<footer class="bg-dark" id="tempaltemo_footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4 pt-5">
                <a class="navbar-brand d-flex align-items-center" href="/vi/index.html">
                    <img alt="Logo" class="main-logo" height="90px" src="/assets/images/main_logo.png" />
                </a>
                <ul class="list-unstyled text-light footer-link-list">
                    <li>
                        <i class="fas fa-map-marker-alt fa-fw"></i>
                        <span>Trụ sở chính: 150/41 Nguyễn Cư Trinh, Phường Cầu Ông Lãnh, Thành phố Hồ Chí Minh</span>
                    </li>
                    <li>
                        <i class="fas fa-map-marker-alt fa-fw"></i>
                        <span>Văn phòng HCM: 51 Lê Văn Lộc, Phường Vũng Tàu, Thành phố Hồ Chí Minh</span>
                    </li>
                    <li>
                        <i class="fas fa-map-marker-alt fa-fw"></i>
                        <span>Kho: 41 Trần Văn Giàu, Phường Tam Thắng, Thành phố Hồ Chí Minh</span>
                    </li>
                    <li>
                        <i class="fa fa-phone fa-fw"></i>
                        <a class="text-decoration-none" href="tel:+84 938 888 958">+84 938 888 958</a>
                    </li>
                    <li>
                        <i class="fa fa-envelope fa-fw"></i>
                        <a class="text-decoration-none" href="mailto:info@company.com">sales@rheintacho.vn</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3 pt-5">
                <h2 class="h2 text-light border-bottom pb-3 border-light fw-bold">Danh mục</h2>
                <ul class="list-unstyled text-light footer-link-list">
                    <li><a class="text-decoration-none" href="/vi/cam-bien-toc-do-quay">Cảm biến tốc độ quay</a>
                    </li>
                    <li><a class="text-decoration-none" href="/vi/den-nhay-co-dinh">Đèn nháy cố định</a></li>
                    <li><a class="text-decoration-none" href="/vi/may-do-toc-do-di-dong">Đèn nháy cầm tay</a></li>
                    <li><a class="text-decoration-none" href="/vi/dong-ho-do-toc-do-cam-tay-ki-thuat-so">Máy đo tốc độ
                            cầm tay</a>
                    </li>
                    <li><a class="text-decoration-none" href="/vi/phu-kien">Phụ kiện và linh kiện</a></li>
                </ul>
            </div>
            <div class="col-md-3 pt-5">
                <h2 class="h2 text-light border-bottom pb-3 border-light fw-bold">Ứng dụng</h2>
                <ul class="list-unstyled text-light footer-link-list">
                    <li><a class="text-decoration-none" href="/vi/ung-dung/do-toc-do-dong-co/">Đo tốc độ động cơ</a>
                    </li>
                    <li><a class="text-decoration-none" href="/vi/ung-dung/giam-sat-toc-do-turbine">Giám sát tốc độ
                            turbine</a>
                    </li>
                    <li><a class="text-decoration-none" href="/vi/ung-dung/giam-sat-toc-do-may-bom">Giám sát tốc độ
                            bơm</a></li>
                    <li><a class="text-decoration-none" href="/vi/ung-dung/do-toc-do-bang-tai">Đo tốc độ băng tải</a>
                    </li>
                    <li><a class="text-decoration-none" href="/vi/ung-dung/giam-sat-thiet-bi-quay">Giám sát máy quay</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-2 pt-5">
                <h2 class="h2 text-light border-bottom pb-3 border-light fw-bold">Thông tin</h2>
                <ul class="list-unstyled text-light footer-link-list">
                    <li><a class="text-decoration-none" href="/vi/index.html">Tachometer là gì</a></li>
                    <li><a class="text-decoration-none" href="/vi/index.html">RPM là gì</a></li>
                    <li><a class="text-decoration-none" href="/vi/index.html">Cách đo tốc độ motor</a></li>
                    <li><a class="text-decoration-none" href="/vi/index.html">Stroboscope là gì</a></li>
                    <li><a class="text-decoration-none" href="/vi/index.html">So sánh Tachometer tiếp xúc và không tiếp
                            xúc</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row text-light mb-4">
            <div class="col-12 mb-3">
                <div class="w-100 my-3 border-top border-light"></div>
            </div>
            <div class="col-auto me-auto">
                <ul class="list-inline text-left footer-icons">
                    <li class="list-inline-item border border-light rounded-circle text-center">
                        <a class="text-light text-decoration-none"
                            href="https://www.facebook.com/profile.php?id=61578520749284" target="_blank"><i
                                class="fab fa-facebook-f fa-lg fa-fw"></i></a>
                    </li>
                    <li class="list-inline-item border border-light rounded-circle text-center">
                        <a class="text-light text-decoration-none"
                            href="https://www.youtube.com/channel/UCslJPz9yixGQssF1BHKzavQ" target="_blank"><i
                                class="fab fa-youtube fa-lg fa-fw"></i></a>
                    </li>
                    <li class="list-inline-item border border-light rounded-circle text-center">
                        <a class="text-light text-decoration-none"
                            href="https://www.linkedin.com/company/fast-group-engineering" target="_blank"><i
                                class="fab fa-linkedin fa-lg fa-fw"></i></a>
                    </li>
                </ul>
            </div>
            <div class="col-auto">
                <label class="sr-only" for="subscribeEmail">Email address</label>
                <div class="input-group mb-2">
                    <input class="form-control bg-dark border-light"
                        data-i18n-placeholder="footer.subscribe.placeholder" id="subscribeEmail" type="text" />
                    <div class="input-group-text btn-success text-light">Đăng ký</div>
                </div>
            </div>
        </div>
    </div>
    <div class="w-100 bg-black py-3">
        <div class="container">
            <div class="row pt-2">
                <div class="col-12">
                    <p class="text-left text-light">
                        <span>Bản quyền © 2026 TNHH Fast Group</span>
                        | Designed by
                        <a href="https://ocmoxa.com" rel="sponsored" target="_blank">OCMOXA</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>