<nav class="navbar navbar-expand-lg bg-dark navbar-light d-none d-lg-block" id="templatemo_nav_top">
    <div class="container text-light">
        <div class="w-100 d-flex justify-content-between">
            <div>
                <i class="fa fa-envelope mx-2"></i>
                <a class="navbar-sm-brand text-light text-decoration-none"
                    href="mailto:sales@rheintacho.vn">sales@rheintacho.vn</a>
                <i class="fa fa-phone mx-2"></i>
                <a class="navbar-sm-brand text-light text-decoration-none" href="tel:+84938888958">+84 938 888 958</a>
                <!-- Zalo -->
                <a class="mx-2" href="https://zalo.me/84938888958" target="_blank">
                    <img alt="Zalo" src="https://upload.wikimedia.org/wikipedia/commons/9/91/Icon_of_Zalo.svg"
                        style="height:32px;" />
                </a>
                <a href="https://wa.me/84938888958" target="_blank">
                    <img height="35px" src="/assets/images/whatsapp-logo.png" />
                </a>
            </div>
            <div>
                <a class="text-light" href="https://www.facebook.com/profile.php?id=61578520749284" rel="sponsored"
                    target="_blank"><i class="fab fa-facebook-f fa-sm fa-fw me-2"></i></a>
                <a class="text-light" href="https://www.youtube.com/channel/UCslJPz9yixGQssF1BHKzavQ" rel="sponsored"
                    target="_blank"><i class="fab fa-youtube fa-sm fa-fw me-2"></i></a>
                <a class="text-light" href="https://www.linkedin.com/company/fast-group-engineering" target="_blank"><i
                        class="fab fa-linkedin fa-sm fa-fw"></i></a>
            </div>
        </div>
    </div>
</nav>
<nav class="navbar navbar-expand-lg navbar-light shadow">
    <div class="container d-flex justify-content-between align-items-center">
        <a class="navbar-brand d-flex align-items-center" href="/vi/index.html">
            <img alt="Logo" class="main-logo" height="110px" src="/assets/images/main_logo.png" />
        </a>
        <!-- <a class="navbar-brand text-success logo h3 align-self-center" href="index.html" data-i18n="brand.name"></a> -->
        <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
            class="navbar-toggler border-0" data-bs-target="#templatemo_main_nav" data-bs-toggle="collapse"
            type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="align-self-center collapse navbar-collapse flex-fill d-lg-flex justify-content-lg-between"
            id="templatemo_main_nav">
            <div class="flex-fill">
                <ul class="nav navbar-nav d-flex justify-content-between mx-lg-auto">
                    <li class="nav-item">
                        <a class="nav-link fw-bold" href="/vi/index.html">Trang chủ</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a aria-expanded="false" class="nav-link dropdown-toggle fw-bold" data-bs-toggle="dropdown"
                            href="/vi/categories.html">Danh mục</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/vi/cam-bien-toc-do-quay">Cảm biến tốc độ quay</a>
                            </li>
                            <li><a class="dropdown-item" href="/vi/den-nhay-co-dinh">Đèn nháy cố định</a></li>
                            <li><a class="dropdown-item" href="/vi/may-do-toc-do-di-dong">Đèn nháy cầm tay</a></li>
                            <li><a class="dropdown-item" href="/vi/dong-ho-do-toc-do-cam-tay-ki-thuat-so">Máy đo tốc độ
                                    cầm tay</a>
                            </li>
                            <li><a class="dropdown-item" href="/vi/phu-kien">Phụ kiện và linh kiện</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a aria-expanded="false" class="nav-link dropdown-toggle fw-bold" data-bs-toggle="dropdown"
                            href="/vi/applications.html">Ứng dụng</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/vi/index.html">Đo tốc độ động cơ</a></li>
                            <li><a class="dropdown-item" href="/vi/index.html">Giám sát tốc độ turbine</a></li>
                            <li><a class="dropdown-item" href="/vi/index.html">Giám sát tốc độ bơm</a></li>
                            <li><a class="dropdown-item" href="/vi/index.html">Đo tốc độ băng tải</a></li>
                            <li><a class="dropdown-item" href="/vi/index.html">Giám sát máy quay</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a aria-expanded="false" class="nav-link dropdown-toggle fw-bold" data-bs-toggle="dropdown"
                            href="/vi/information.html">Thông tin</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/vi/index.html">Tachometer là gì</a></li>
                            <li><a class="dropdown-item" href="/vi/index.html">RPM là gì</a></li>
                            <li><a class="dropdown-item" href="/vi/index.html">Cách đo tốc độ motor</a></li>
                            <li><a class="dropdown-item" href="/vi/index.html">Stroboscope là gì</a></li>
                            <li><a class="dropdown-item" href="/vi/index.html">So sánh Tachometer tiếp xúc và không tiếp
                                    xúc</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fw-bold" href="/vi/contact.html">Liên hệ</a>
                    </li>
                </ul>
            </div>
            <div class="d-flex align-items-center ms-3">
                <button class="btn btn-sm btn-outline-secondary me-2 lang-btn" data-lang="en">
                    EN
                </button>
                <button class="btn btn-sm btn-outline-secondary lang-btn" data-lang="vi">
                    VI
                </button>
            </div>
        </div>
    </div>
</nav>