.card a i {
    transition: transform 0.2s ease;
}

.card a:hover i {
    transform: translateX(5px);
}

/*** Chat Zalo ***/
#linkzalo {
    position: fixed;
    top: 50%;
    right: 0;
    width: 100%;
}

.jscroll-to-top {
    bottom: 100px
}

.fcta-zalo-ben-trong-nut svg path {
    fill: #fff
}

.fcta-zalo-vi-tri-nut {
    position: absolute;
    bottom: 50%;
    right: 20px;
    z-index: 999;
}

.fcta-zalo-nen-nut,
div.fcta-zalo-mess {
    box-shadow: 0 1px 6px rgba(0, 0, 0, .06), 0 2px 32px rgba(0, 0, 0, .16)
}

.fcta-zalo-nen-nut {
    width: 50px;
    height: 50px;
    text-align: center;
    color: #fff;
    background: #0068ff;
    border-radius: 50%;
    position: relative
}

.fcta-zalo-nen-nut::after,
.fcta-zalo-nen-nut::before {
    content: "";
    position: absolute;
    border: 1px solid #0068ff;
    background: #0068ff;
    z-index: -1;
    left: -10px;
    right: -10px;
    top: -10px;
    bottom: -10px;
    border-radius: 50%;
    animation: zoom 1.9s linear infinite
}

.fcta-zalo-nen-nut::after {
    animation-delay: .4s
}

.fcta-zalo-ben-trong-nut,
.fcta-zalo-ben-trong-nut i {
    transition: all 1s
}

.fcta-zalo-ben-trong-nut {
    position: absolute;
    text-align: center;
    width: 60%;
    height: 60%;
    left: 10px;
    bottom: 30px;
    line-height: 70px;
    font-size: 25px;
    opacity: 1
}

.fcta-zalo-ben-trong-nut i {
    animation: lucidgenzalo 1s linear infinite
}

.fcta-zalo-nen-nut:hover .fcta-zalo-ben-trong-nut,
.fcta-zalo-text {
    opacity: 0
}

.fcta-zalo-nen-nut:hover i {
    transform: scale(.5);
    transition: all .3s ease-in
}

.fcta-zalo-text a {
    text-decoration: none;
    color: #fff
}

.fcta-zalo-text {
    position: absolute;
    top: 6px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    transform: scaleX(-1);
    transition: all .5s;
    line-height: 1.5
}

.fcta-zalo-nen-nut:hover .fcta-zalo-text {
    transform: scaleX(1);
    opacity: 1
}

span#fcta-zalo-tracking {
    font-family: Roboto;
    line-height: 1.5
}

.fcta-zalo-text {
    font-family: Roboto
}


.fcta-zalo-mess {
    position: fixed;
    bottom: 50%;
    right: 70px;
    background: #695aa0;
    color: #fff;
    padding: 10px 14px;
    border-radius: 10px;
    font-size: 10px;
    line-height: 1.4;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    z-index: 990;

    /* animation */
    animation: fadeSlideIn 1s ease, floatUpDown 2s infinite;
}

/* text */
.fcta-zalo-mess span {
    display: block;
    text-align: center;
    font-weight: 500;
}

/* xuất hiện */
@keyframes fadeSlideIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* nhấp nhô nhẹ */
@keyframes floatUpDown {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-4px);
    }

    100% {
        transform: translateY(0);
    }
}


.breadcrumb a {
    text-decoration: none;
    color: #695aa0;
}

.breadcrumb a:hover {
    text-decoration: underline;
}


#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}

.lang-btn.active {
    background-color: #F58220;
    color: #fff;
    border-color: #F58220;
}

.dropdown-menu {
    border-radius: 10px;
    padding: 10px 0;
    border: none;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.dropdown-item {
    padding: 10px 20px;
}

.dropdown-item:hover {
    background: #f5f5f5;
    color: #6f42c1;
}

/* hover mở menu */
@media (min-width: 992px) {
    .dropdown:hover .dropdown-menu {
        display: block;
    }

}

@media (max-width: 991px) {

    .dropdown-menu {
        position: static !important;
        border: none;
        box-shadow: none;
        padding-left: 15px;
        display: none;
    }

    .dropdown-menu.show {
        display: block;
    }

    .dropdown-item {
        padding: 8px 0;
        font-size: 14px;
    }

    .nav-link.dropdown-toggle::after {
        float: right;
        transform: rotate(-90deg);
    }

    .dropdown.show .nav-link.dropdown-toggle::after {
        transform: rotate(0deg);
    }
}

.icon-circle {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    font-size: 13px;
    margin-left: 8px;
    text-decoration: none;
}

/* Zalo style */
.icon-circle.zalo {
    background: #0068ff;
    color: #fff;
    font-weight: 500;
}

/* WhatsApp */
.icon-circle.whatsapp {
    background: transparent;
    color: #ccc;
    font-size: 16px;
}

/* Hover */
.icon-circle:hover {
    opacity: 0.8;
}

.feature-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.feature-box img {
    width: 100%;
    max-width: 400px;
    /* 👉 chỉnh size tối đa */
    height: 200px;
    /* 👉 cố định chiều cao */
    object-fit: cover;
    /* 👉 cắt ảnh cho đẹp */
    border-radius: 8px;
}